.container {
    background-color: #17171a;
    margin-top: 5rem;
    color: white;
}

.section {
    padding-left: 2rem;
    padding-top: 2rem;
}

.nav {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.footer {
    background: #17171a;
}