.container {
    background-color: #17171a;
    margin-top: 5rem;
    color: white;
}

.section {
    padding-left: 2rem;
    padding: 0.5rem 1rem;
    background-color: red;
}

.nav {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}