.container {
    margin: 0.5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: beige;
    background-color: black;
    padding: 3rem 5rem;
}

.container > div {
    margin-top: 2rem;
}

.faqAns {
    display: none;
}

.divContainer {
    display: flex;
    width: 30rem;
    background-color: rgb(65, 63, 63);
    padding: 1rem 1.5rem;
    margin: 0.5rem;
}

.divContainer:hover {
    cursor: pointer;
}

.justifyContent {
    display: flex;
    
}