.data {   
    padding: 0rem 8rem;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 1422px) {
    .data {    
        flex-direction: column;
    }
    .header {
        text-align: center;
    }
}