.container {
    color: white;
    padding-right: 1rem;
}

img {
    max-width: min-content;
}

.title {
    display: flex;
    padding-top: 1rem;
    justify-content: center;
    text-decoration: none;
}
